/* reset default css properties for chrome */

html, body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", tahoma, verdana, sans-serif;
	height: 100%;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
}

.simpleCart_items {
	display: inline-block;
}

.headerRow {
	display: inline-block;
}

#container {
	width: 100%;
	border: 0;
	height: 100%;
	display: inline-block;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
}

#banner {
	width: 100%;
	height: 20%;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 1px;
	overflow: auto;
}

#banner_left {
	float: left;
	background-color: white;
	width: 40%;
	border: 0px;
}

#banner_right {
	float: right;
	text-align: left;
	margin-left: 3%;
	margin-top: 10%;
	width: 50%;
	/*background-color: #acacac;*/
	border: 0px;
}

#header{
	text-align: center;
	font-size: 50px;
	width: 100%;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
}

#header p{
	/*Fixes that annoying gray bar*/
	margin:0px;
}

#table {
	padding-left: 2px;
	padding-right: 2px;
}

.login_input {
	padding: 0 10px;
	line-height: 36px;
	height: 36px; /* Firefox needs this */
	font-size: 12px;
	border-radius: 5px;
}

#login_submit {
	padding: 0 10px;
	color: #fff;
	font-size: 20px;
	width: 80px;
	height: 36px;
	line-height: 36px;
	background-color: #547cfc;
	border-radius: 5px;
}

#right {
	float: left;
	width: 30%;
	height: 100%;
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	border: none;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
	text-align: center;
}

#left {
	float: left;
	width: 30%;
	height: 100%;
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	border: none;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
	text-align: center;
}

#right_small {
	float: left;
	width: 21%;
	height: 100%;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border: none;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
}

#left_large {
	float: left;
	width: 75%;
	height: 100%;
	border: none;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
	overflow: auto;
}

#content {
	border: 0px;
	top: 130px;
	width: 100%;
	height: 100%;
	background-image:url(images/stripe-background.png);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
}

#right_inner {
	margin-top: 50px;
}

#left_inner {
	margin-top:50px;
}

td img {
    display: block;
    float: left;
} 

#login_table .align_right {
	text-align: right;
	
}

#login_table .align_left {
	text-align: left;
}


div.order {
	/*background-color: #AFE8BD;*/
	border-style: ridge;
	border-width: 5px;
	border-color: #7BA685;
	width:50%;
	padding-left:.5em;
	padding-top:1em;
	margin-left:1em;
}

div.completedorder {
	/*background-color: #F25555;*/
	border-style: ridge;
	border-width: 5px;
	border-color: #994343;
	width:50%;
	padding-left:.5em;
	padding-top:1em;
	margin-left:1em;
}

div.item {
	/*background-color: #FFFD80;*/
	border-style: ridge;
	border-width: 5px;
	border-color: #9E9B00;
	width:50%;
	padding-left:.5em;
	padding-top:1em;
	margin-left:1em;
	margin-top:.5em;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

/* navbar */
.navbar_ {
  margin: 0;
  position: relative;
}
.navbar_ .navbar-inner_ {
  padding: 0;
  margin: 0;
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/*nav*/
.navbar_ .container {
  /*position: relative;*/
}
.nav-collapse_ {
  padding: 0;
  z-index: 10;
  float: right;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.nav-collapse_ .nav > li {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  margin-left: 22px;
}
.nav-collapse_ .nav li a {
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  font-family: "Trebuchet MS", tahoma, verdana, sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
  color: #1a1a1a;
}
.nav-collapse_ .nav > li > a {
  margin: 0;
  padding: 30px 0 32px;
  display: block;
  background: none;
  position: relative;
  z-index: 20;
  width: 84px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
}
.nav-collapse_ .nav > li > a .sf-sub-indicator {
  /*position: absolute;
  width: 9px;
  height: 6px;
  left: 50%;*/
  bottom: 21px;
  margin-left: -5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  background: #a8b8e9;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ .nav > li.sfHover > a .sf-sub-indicator,
.nav-collapse_ .nav > li.active > a .sf-sub-indicator {
  background-position: 0 bottom;
}
.sub-menu > a {
  position: relative;
}
.nav-collapse_ .nav ul {
  position: absolute;
  display: none;
  width: 120px;
  left: -18px;
  top: 115px;
  list-style: none;
  zoom: 1;
  z-index: 9;
  background: #ffffff;
  padding: 12px 0;
  margin: 0;
}
.nav-collapse_ .nav ul li {
  text-align: center;
}
.nav-collapse_ .nav ul li a {
  padding: 4px 0;
  display: block;
  background: none;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  text-decoration: none;
  color: #ffffff;
  background: #e85356;
}
.nav-collapse_ .nav ul .sf-sub-indicator {
  display: none;
}
.nav-collapse_ .nav ul ul li a {
  color: #ffffff;
}
.nav-collapse_ .nav li ul ul li a:hover {
  text-decoration: none;
  color: #000000;
}
#nav-items {
	margin-right: 3%;
}
ul{
    list-style-type: none;
}
.white {
	background-color: rgb(255, 255, 255); 
	background-color: rgba(255, 255, 255, .75);
}

.light {
	background-color: rgb(228, 229, 235); 
	background-color: rgba(228, 229, 235, .75);
}

.grey {
	background-color: rgb(170, 178, 192); 
	background-color: rgba(170, 178, 192, .75);
}

.red {
	background-color: rgb(179, 45, 71); 
	background-color: rgba(179, 45, 71, .75);
}

.dark {
	background-color: rgb(14, 32, 59); 
	background-color: rgba(14, 32, 59, .75);
}
